.card {
    background: #1A1A1A;
    border: 1px solid #2E2E2E;
    border-radius: 4px;
    overflow: hidden;
}

.card>img {
    width: 100%;
    height: auto;
}

.card_body {
    padding: 15px;
}

.card_body>h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px;
}

.card_body>p:nth-child(2),
.card_body>p>span {
    font-size: 10px;
}

.card_body>span,
.card_body>label {
    font-size: 11px !important;
    color: #858585 !important;
}

.card_body>p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    text-transform: capitalize;
}

.card_text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px !important;
    color: #FFFFFF;
    text-transform: uppercase;
}

.card_body>p>span {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #858585 !important;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .card_body {
        padding: 18px;
    }

    .card_body>h5 {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .card_body>p:nth-child(2),
    .card_body>p>span {
        font-size: 10px;
    }

    .card_body>span,
    .card_body>label {
        font-size: 11px !important;
    }

    .card_body>p {
        font-size: 14px;
    }

    .card_text {
        font-size: 14px !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .card_body {
        padding: 18px;
    }

    .card_body>h5 {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .card_body>p:nth-child(2),
    .card_body>p>span {
        font-size: 10px;
    }

    .card_body>span,
    .card_body>label {
        font-size: 11px !important;
    }

    .card_body>p {
        font-size: 11px;
    }

    .card_text {
        font-size: 14px !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}