.section_five {
    margin-top: 50px;
}

.h4_title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px !important;
}

.section_five_btn {
    background: #2E2E2E;
    border-radius: 12px;
    padding: 5px 15px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.section_five_btn:hover {
    background-color: rgb(53, 53, 53);
}

.section_five_12 {
    background: #1A1A1A;
    border: 1px solid #2E2E2E;
    border-radius: 8px;
    padding: 10px 10px;
    margin-bottom: 10px;
    height: 100%;
}

.section_five_card {
    text-decoration: none;
    color: #FFFFFF;
}

.section_five_title {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
}

.section_five_by {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 0.03em;
}

.section_five_images>img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .section_five {
        margin-top: 60px;
    }

    .h4_title {
        font-size: 18px;
    }

    .section_five_btn {
        font-size: 14px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .section_five {
        margin-top: 70px;
    }

    .h4_title {
        font-size: 18px;
    }

    .section_five_btn {
        font-size: 14px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .section_five {
        margin-top: 80px;
    }

    .h4_title {
        font-size: 28px !important;
    }

    .section_five_btn {
        font-size: 14px;
    }
}