.section_three {
    margin-top: 50px;
}

.h4_title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px !important;
}

.section_three_btn {
    background: #2E2E2E;
    border-radius: 12px;
    padding: 5px 15px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}

.section_three_btn:hover {
    background-color: rgb(53, 53, 53);
}

.section_three_img {
    width: 100%;
    margin-bottom: 20px;
}

.section_three_img>img {
    width: 100% !important;
    height: auto;
}

.section_three_title>h6 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px !important;
    line-height: 130%;
    color: #EBEBEB;
}

.section_three_desc>span:first-child {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    color: #858585;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.section_three_desc>a {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    text-decoration: none;
    color: #E30813;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 20px;
}

.list_information {
    display: grid;
    gap: 20px;
}

.list_img {
    width: 100%;
    /* margin-bottom: 20px; */
}

.list_img>img {
    width: 100% !important;
    height: auto;
}

.list_title>h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 10px !important;
    line-height: 130%;
    color: #EBEBEB;
}

.list_date {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 130%;
    color: #858585;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .section_three {
        margin-top: 60px;
    }

    .h4_title {
        font-size: 18px;
    }

    .section_three_btn {
        font-size: 14px;
    }

    .section_three_title>h6 {
        font-size: 16px !important;
    }

    .section_three_desc>span:first-child,
    .section_three_desc>a,
    .list_title>h6,
    .list_date {
        font-size: 12px !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .section_three {
        margin-top: 70px;
    }
 
    .h4_title {
        font-size: 18px;
    }

    .section_three_btn {
        font-size: 14px;
    }

    .section_three_title>h6 {
        font-size: 14px !important;
    }

    .section_three_desc>span:first-child,
    .section_three_desc>a,
    .list_title>h6,
    .list_date {
        font-size: 10px !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .section_three {
        margin-top: 80px;
    }
 
    .h4_title {
        font-size: 28px !important;
    }

    .section_three_btn {
        font-size: 14px;
    }

    .section_three_title>h6 {
        font-size: 16px !important;
    }

    .section_three_desc>span:first-child,
    .section_three_desc>a,
    .list_title>h6,
    .list_date {
        font-size: 12px !important;
    }
}