.section_four {
    margin-top: 50px;
}

.h4_title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px !important;
}

.section_four_btn {
    background: #2E2E2E;
    border-radius: 12px;
    padding: 5px 15px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.section_four_btn:hover {
    background-color: rgb(53, 53, 53);
}

.card {
    background: #1A1A1A;
    border: 1px solid #2E2E2E;
    border-radius: 4px;
    overflow: hidden;
}

.card>img {
    width: 100%;
    height: auto;
}

.card_body {
    padding: 15px;
}

.card_body>h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px;
}

.card_body>p {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #FFFFFF;
    text-transform: capitalize;
}

.card_text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px !important;
    color: #FFFFFF;
    text-transform: uppercase;
}

.card_body>p>span {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #858585 !important;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .section_four {
        margin-top: 60px;
    }

    .h4_title {
        font-size: 18px;
    }

    .section_four_btn {
        font-size: 14px;
    }

    .card_body {
        padding: 18px;
    }

    .card_body>h5 {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .card_body>p>span,
    .card_body>p  {
        font-size: 10px;
    }

    .card_text {
        font-size: 14px !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .section_four {
        margin-top: 70px;
    }

    .h4_title {
        font-size: 18px;
    }

    .section_four_btn {
        font-size: 14px;
    }

    .section_two_btn {
        border-radius: 12px;
        padding: 5px 15px;
        font-size: 14px;
    }

    .card_body {
        padding: 18px;
    }

    .card_body>h5 {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .card_body>p>span,
    .card_body>p  {
        font-size: 10px;
    }

    .card_text {
        font-size: 14px !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .section_four {
        margin-top: 80px;
    }

    .h4_title {
        font-size: 28px !important;
    }

    .section_four_btn {
        font-size: 14px;
    }
}